#options
{
    display: none;
}

.red
{
    color: #FF0000;
}

body
{
    font-family: Droid Sans, sans-serif;
    text-align: center
}

input[type=number]
{
    width: 30px;
}

table
{
    margin: auto;
}

td
{
    text-align: left;
}
